<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.louis.macstatetracker</string>
        <key>ProgramArguments</key>
        <array>
            <string>/Users/louismartin/miniconda3/bin/python3</string>
            <string>/Users/louismartin/dev/mac-state-tracker/state_tracker_gui.py</string>
        </array>
        <key>KeepAlive</key>
        <true/>
    </dict>
</plist>
